<footer class="footer" role="contentinfo">

  <a
    class="footer-logo"
    href="{{ site.url }}{{ site.baseurl }}">
    <img src="{{ site.url }}{{ site.baseurl }}/static/img/submark.svg"
    alt="{{ site.title }} logo" />
  </a>

  <div class="row column">
    <ul class="social-icons">
      <li>
        <a class="instagram" href="https://instagram.com/biornegildet2025">
          <svg class="social-icon">
            <title>instagram</title>
            <use xlink:href="#instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="facebook" href="https://www.facebook.com/gildet25/">
          <svg class="social-icon">
            <title>Facebook</title>
            <use xlink:href="#facebook-icon"></use>
          </svg>
        </a>
      </li>
</ul>

    <p class="text-center">
      <strong>
      Lurer du på noe, ta kontakt:
        <a
          href="mailto:{{site.contact_us_email}}">{{site.contact_us_email}}</a>
      </strong>
    </p>
  </div>
</footer>
