<li><a href="{{ site.url }}{{ site.baseurl }}/frivillig/">Bidra</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}/nyheter/">Nyheter</a></li>
<!-- <li><a href="{{ site.url }}{{ site.baseurl }}/sponsorer/">Sponsorer</a></li> -->
<!-- <li><a href="{{ site.url }}{{ site.baseurl }}/jobs/">Jobs Board</a></li> -->
<li class="is-dropdown-submenu-parent">
  <a href="{{ site.url }}{{ site.baseurl }}/program/" aria-haspopup="true" aria-expanded="false">Program</a>
  <ul class="menu vertical nested">
    <li><a href="{{ site.url }}{{ site.baseurl }}/program/">Fullt Program</a></li>
    <!-- <li><a href="{{ site.url }}{{ site.baseurl }}/foredrag/">Foredrag</a></li> -->
    <li><a href="{{ site.url }}{{ site.baseurl }}/ball/">Biørneball</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/fest/">Festligheter</a></li>
  </ul>
</li>

<li class="is-dropdown-submenu-parent">
  <a href="{{ site.url }}{{ site.baseurl }}/om/" aria-haspopup="true" aria-expanded="false">Om</a>
  <ul class="menu vertical nested">
    <li><a href="{{ site.url }}{{ site.baseurl }}/om/">Om {{site.title}}</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/styret/">Styret</a></li>
    <!-- <li><a href="{{ site.url }}{{ site.baseurl }}/foredrag/">Foredragsholdere</a></li> -->
  </ul>
</li>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
  var menuItems = document.querySelectorAll('li.is-dropdown-submenu-parent');

    Array.prototype.forEach.call(menuItems, function(el, i) {
      var link = el.querySelector('a');

      link.addEventListener("click", function(event) {
        // We do not prevent default behavior, allowing navigation to occur.
      });
    });
  });
</script>
