%has-bg {
  background: $light-gray;
}

.schedule {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  list-style: none;

  .day {
    font-weight: $global-weight-normal;
  }
}

[id*='Day-']:target {
  padding-top: 4rem;
}

.time {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: $global-weight-semibold;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.event {
  @include clearfix;
  @include bottomless;
  margin: 0 0 1em;
  padding: 0;
  width: 100%;

  a {
    text-decoration: none;
  }

  .event-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .location,
  a:hover .event-title,
  a:hover .mini-profile-byline {
    color: $black;
  }

  .event-title-and-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    @media (max-width: 900px) {
      flex-direction: column;
      align-items: flex-start;
  
      .event-title {
        margin-bottom: 0.5rem;
      }
  
      .price {
        align-self: flex-start;
      }
    }
  }
    
  .event-title {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    flex-grow: 1;
  }
  
  .price {
    font-size: 1em;
    font-weight: $global-weight-semibold;
    color: $black;
    background-color: rgba($brand-color2, 0.5);
    padding: 0.2em 0.5em;
    border-radius: 4px;
    margin: 0;
  }
  
  
  .avatar {
    margin: 0 .5em 0 0;
    max-width: 60px;
    border-radius: 50%;
    vertical-align: middle;
  }

  .event-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .time, .location {
      font-size: 1em;
      margin: 0;
    }
  }

  .event-byline {
    margin-top: 1rem;
  }
  
  & & {
    position: static;
  }

  &.boxed {
    padding: $global-margin;
    border: 1px solid $medium-gray;
    background: $white;

    .event-content {
      display: block;
    }

    .mini-profile-byline {
      margin-top: $global-margin;
      padding-top: 0;
    }
  }
  
  // Ensures extensions add a background color
  &.loc-main, &.loc-alt, &.loc-alt-2, &.loc-alt-3 {
    @extend %has-bg;
    border-top: 8px solid $brand-color6; // Adjust appropriately for each alt

    .location {
      background: $light-gray;
    }
  }

  // Responsive and layout settings
  @include breakpoint(medium) {
    flex-direction: column;
    margin: 0 $global-margin / 2;
    text-align: left;
    flex-grow: 1;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .label {
      margin-left: 0;
    }
    
    .time {
      text-align: right;
    }
  }
}

.schedule-nav {
  margin-bottom: $global-margin;

  &-title {
    margin-bottom: $global-margin;
    padding: .3em 1em;
    background: $brand-color2;
    font-weight: $global-weight-bold;
    text-align: center;
    color: $white;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    li {
      width: 50%;
      list-style: none;
    }

    a {
      display: block;
      padding: .5rem 1rem;
      font-weight: $global-weight-semibold;
      text-align: center;
    }
  }

  @include breakpoint(720px) {
    &-list li {
      width: 33.33%;
    }
  }

  @include breakpoint(920px) {
    &-title {
      display: inline-block;
      margin-bottom: 0;
    }

    &-list {
      flex: 1;
      flex-flow: row nowrap;

      li {
        flex: 1;
        width: auto;
      }

      li, a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    a {
      padding-right: .5rem;
      padding-left: .5rem;
    }
  }
}

.schedule-entry {
  margin-bottom: 20px;
}

.event.integrated-layout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
  width: calc(100% - 20px);
}

.event-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.event-image {
  max-width: 150px;
  width: 150px;
  margin-right: 20px;
  border-radius: 8px;
  flex-shrink: 0;
}

.event-details {
  flex-grow: 1;
  width: calc(100% - 170px);
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .event.integrated-layout {
    flex-direction: column;
    align-items: center;
  }
  .event-header {
    justify-content: center;
    align-items: center;
  }
  .event-image {
    margin-bottom: 10px;
    align-items: center;
  }
  .event-details {
    width: 100%;
    align-items: center;
  }
  .event-meta {
    flex-direction: column;
    align-items: center;
  }
}
