---
layout: base
---

<header class="subpage-header">
  <h1>
    {% if page.heading %}{{ page.heading }}{% else %}{{ page.title }}{% endif %}
  </h1>
  <p class="lead">
    <local-time datetime="{{ page.date | date_to_xmlschema }}" hour="numeric" minute="numeric" day="numeric" month="short"
      time-zone-name="short">
      {{ page.date | date: "%H:%M %d. %b" }}
    </local-time>
    <a href="https://time.is/compare/{{ page.date | date: "%I%M%p_%d_%B_%Y" }}_in_Oslo" aria-label="View talk time on time.is">:calendar:</a>
    {% if page.end_date %} to {{ page.end_date | date: "%H:%M" }}{% endif %}
    {% comment %}, in {{ page.room }}{% endcomment %}
  </p>
</header>

<div class="content subpage-content">
  <div class="row">
    <div class="column medium-10 medium-centered" markdown="1">
      <h2>Om
        {% case page.category %}
            {% when "foredrag" %}
              dette foredraget
            {% when "fest" %}
              denne festen
            {% else %}
              dette {{ page.category }}
        {% endcase %}
      </h2>
      {{ content }}
    </div>
  </div><!-- end .row -->

{% if page.presenter_slugs %}

<div class="presenters section-pad theme-light-gray">
  <div class="row">
    <div class="column medium-10 medium-offset-1"><h2>Presenters</h2></div>
  </div>

<ul>
  {% for presenter_slug in page.presenter_slugs %}
    {% assign presenter = site.presenters | where: "slug", presenter_slug | first %}
    <div class="row profile wide presenter">
      <div class="column medium-4 medium-offset-1 large-3">
        {% if presenter.photo_url != blank %}
          <img
            class="thumbnail"
            src="{{ presenter.photo_url }}"
            alt="Photo of {{ presenter.name }}" />
        {% endif %}
      </div>

      <div class="column medium-7 large-7 end">
        <h3 class="profile-name">
          {{ presenter.name }}
          {% if presenter.pronouns != blank %}
            ({{ presenter.pronouns }})
          {% endif %}
        </h3>

        {% if presenter.twitter or presenter.github or presenter.website %}
          <ul class="social-icons">
            {% if presenter.twitter != blank %}
            <li>
              <a class="twitter" href="https://twitter.com/{{ presenter.twitter }}" target="_blank">
                <svg class="twitter-icon"><use xlink:href="#twitter-icon"></use></svg>
              </a>
            </li>
            {% endif %}
            {% if presenter.github != blank %}
            <li>
              <a class="github" href="https://github.com/{{ presenter.github }}/" target="_blank">
                <svg class="social-icon"><use xlink:href="#github-icon"></use></svg>
              </a>
              </li>
            {% endif %}
            {% if presenter.website != blank %}
            <li>
              <a class="web" href="{{ presenter.website }}" target="_blank">
                <svg class="social-icon"><use xlink:href="#web-icon"></use></svg>
              </a>
            </li>
            {% endif %}
          </ul>
        {% endif %}

        {% if presenter.content != blank %}
          {{ presenter.content | markdownify }}
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

{% else %}
  <div class="v-pad-bottom-more"></div>
{% endif %}

</div><!-- end .content -->
